@import url(//fonts.googleapis.com/css?family=Roboto+Mono);

body {
  background-color: #97c9a8;
  margin: 100px 100px 80px 150px;
  font-family: 'roboto mono';
}

h1 {
  color: #1c1f1d;
  text-align: left;
}

p {
  color: #464d48;
  text-align: center;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: bold;
}

a:visited {
  color: #609472;
}
a:hover, a:active {
  color: #1c4029;
  text-decoration: underline;
}
